.parent-container {
  font-family: 'Montserrat';
}

.main-container {
  background-color: #ECF0F3;
}

.header-bg {
  margin-top: -30px;
  height: 750px;
  background-image: url('../assets/bg1.png');
  background-position: center;
  background-repeat: no-repeat;
}

.project-box {
  padding: 15px;
background: linear-gradient(147.48deg, #E2E8EC 0%, #FFFFFF 100%);
  border-radius: 15px;
  margin-bottom: 20px;
box-shadow: -5px -5px 15px 0px #FFFFFF;
box-shadow: 5px 5px 15px 0px #D1D9E6;
}

.swipper-margin {
  margin-top: 20px;
}

.swiper-pagination-bullet {
  margin-top: 20px !important;
  background-color: var(--blue) !important;
}

.swiper-pagination {
  margin-top: 2px !important;
  position: relative !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--blue) !important;
}

.pricing-box {
  box-shadow: -5px -5px 15px 0px #FFFFFF;
box-shadow: 5px 5px 15px 0px #D1D9E6;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
background-color: white;
border-radius: 10px;
}

.pricing-box-text {
  font-weight: 700;
  font-size: 14px;
}

.social-icons {
  height: 50px;
  width: 50px;
  background-color: rgb(240, 236, 236);
  background: linear-gradient(150deg, #E2E8EC 0%, #FFFFFF 100%);
  box-shadow: -5px -5px 15px 0px #FFFFFF;
box-shadow: 5px 5px 15px 0px #D1D9E6;

}


.client-img {
  height: 85px;
  width: 85px;
}

.header-location {
  padding-right: 190px;
  margin-top: -20px;
}

.button-pricing {
  background: linear-gradient(106.84deg, #E2E8EC 0%, #FFFFFF 100%) !important;
  box-shadow: -5px -5px 15px 0px #FFFFFF !important;
  box-shadow: 5px 5px 15px 0px #D1D9E6 !important;
  border: white !important;
  font-family: 'Popins' !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.text-color {
  color: var(--blue) !important;
}

.text-weight {
  font-weight: 400;
}

.project-box-text {
  font-weight: 600;
  font-size: 20px;
}

.project-box-tag {
  font-weight: 700;
  font-family: 'Popins';
  text-transform: uppercase;
}

.sub-head {
  font-family: 'Playfair';
  font-size: 36px;
  margin-top: 60px;
}

.heads {
  font-weight: 700;
  font-size: 60px;
}

.head-tags {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
}

.footer-text {
  font-family: 'Popins';
  font-size: 26px;
  font-weight: 800;
}

.footer-sub-text {
  font-size: 17px;
  font-weight: 400;
}