.parent-container{
    font-family: 'Montserrat';
}
.main-container{
    background-color: #ECF0F3;
}
.header-bg{
  margin-top: -30px;
    height: 750px; 
    background-image: url('../assets/bg1.png');
    background-position: center;
    background-repeat: no-repeat;
}
.bold-text {
    padding-top: 2%;
    font-weight: 900;
    font-size: 5rem;
    color: var(--blue);
    text-shadow:
      1px 0 0 var(--blue),
     -1px 0 0 var(--blue),
      0 1px 0 var(--blue),
      0 -1px 0 var(--blue);
}

.bubble-outline {
  font-size: 6rem;
  font-weight: 900;
  color: transparent; 
  margin-top: 4%;
  -webkit-text-stroke: 2px var(--blue); 
  text-align: center;
  font-family: 'Times New Roman';
}
.project-box{
  padding: 15px;
  background-color: rgb(240, 236, 236);
    border-radius: 15px;
    margin-bottom: 20px;
box-shadow: 0px 4px 4px 0px #00000040;
}
.swipper-margin{
  margin-top: 20px;
}
.swiper-pagination-bullet {
  margin-top: 20px !important;
  background-color: var(--blue) !important;
}
.swiper-pagination {
  margin-top: 2px !important;
  position: relative !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--blue) !important;
}

.pricing-box{
    background-color: white;
}
.pricing-box-text{
  font-weight: 700;
  font-size: 14px;
}
.social-icons{
  height: 40px;
  width: 40px;
  background-color: rgb(240, 236, 236);
      background: linear-gradient(150deg, #E2E8EC 0%, #FFFFFF 100%);

box-shadow: 5px 5px 15px 0px #D1D9E6;;

}
.client-img{
  height: 85px;
  width: 85px;
}
.header-location{
  padding-right: 190px;
  margin-top: -20px;
}
.button-white{
        background-color: rgb(231, 222, 222) !important;
box-shadow: -5px -5px 15px 0px #FFFFFF !important;
        border: white !important;
        font-family: 'Popins' !important;
        font-size: 16px !important;
        font-weight: 500 !important;
}
.text-color{
  color: var(--blue) !important;
}
.text-weight{
  font-weight: 400;
}
.project-box-text{
  font-weight: 600;
  font-size: 20px;
}
.project-box-tag{
  font-weight: 700;
  font-family: 'Popins';
  text-transform: uppercase;
}
.sub-head{
  font-family: 'Playfair';
  font-size: 36px;
  margin-top: 40px;
}
.heads{
  font-weight: 700;
  font-size: 45px;
}
.head-tags{
  font-weight: 700;
  font-size: 14px;
}
.footer-text{
  font-family: 'Popins';
  font-size: 26px;
  font-weight: 800;
}
.footer-sub-text{
  font-size: 17px;
  font-weight: 400;
}