.navbar {
  padding-top: 15px !important;
  background-color: #ECF0F3 !important;
}

.nav-name{
    font-weight: 800 !important;
    font-size: 15px !important;
}
.nav-link{
    font-size: 13px !important;
}