@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('./assets/fonts/Playfair-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Popins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
}

 :root {
  --blue: #476fc0;
}
